/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**/

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Light.ttf)
}

@font-face {
    font-family: Allerta Stencil;
    src: url(fonts/Allerta_Stencil/AllertaStencil-Regular.ttf);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #696969;
    color: #fff;
}

.hide {

    display: none;
}

.show {

    display: ;
}

.banner {

   background-image: url(../img/backgroudjumb.jpg);
   background-position: center top;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;

}

.banner h1 {
    font-family: 'Allerta Stencil', cursive;  
    text-align: center;  
    font-size: 3em;
}

h2 {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 2em;
    margin-top: 30px;
    text-align: center;
}

h3 {
    font-size: 1.8em;   
}

.titulo {  
    background-color: #000;         
    margin-top: 30px;
    padding: 15px 0;
    -webkit-box-shadow: 0px 0px 15px -4px #000000; 
    box-shadow: 0px 0px 15px -4px #000000;
  
}

.detalhe {    
    display: inline-block;
    margin-top: 10px; 
    font-size: .8em;    
}

p {
    font-size: 1em;    
}

.partida {
    padding: 20px 0 ;     
}

.partida a{
    color: #fff;
}

.partida p{
   line-height: 1.5em;     
}

.quebra{
    border-bottom: 1px dotted #999;
}

.placar {
    font-family: 'Allerta Stencil', cursive;
    text-align: center;
}

.placar p {
    line-height: 1em;
    font-size: 5em;
    margin: 0;
}

.secao {

    margin-top: 20px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    h2 {
        font-family: 'Allerta Stencil', sans-serif;
        font-size: 2.5em;
        margin: 60px 0 30px 0;
    
    }

    .titulo { 
       
        margin-top: 30px;
        padding: 15px 0; 
    }
    
    .detalhe {          
        display: inline-block;
        margin-top: 8px;  
        font-size: .9em;    
    }

    .partida {
        padding: 30px 0;

    }

    .secao {

        margin: 35px 0 30px 0;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}